# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'atom-lithium parse'
      'command': 'atom-lithium:parse'
    }
    {
      'label': 'atom-lithium toggle'
      'command': 'atom-lithium:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-lithium'
      'submenu': [
        {
          'label': 'Parse'
          'command': 'atom-lithium:parse'
        }
        {
          'label': 'Toggle'
          'command': 'atom-lithium:toggle'
        }
      ]
    ]
  }
]
